* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  line-height: 1.5;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  color: #41403E;
  background-color: #efefd8;
}

header, main, footer {
  padding: 1rem;
  display: flex;
}

header {
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  font-size: 1rem;
}

main {
  width: 95%;
  max-width: 700px;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  background-color: #f5f5dc;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  border:solid 2px #41403E;
  box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.2);
}

footer {
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: x-small;
}

p {
  text-align: justify;
  margin: 5px auto;
  padding-top: 6px;
}

button {
  display: flex;
  flex-direction: row;
  
  border:solid 1px #41403E;
  border-radius: 10px;
  background-color: #efefd8;
  color: #41403E;
  cursor: pointer;
  padding: 6px;
  margin-bottom: 2px;
}

button:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  background-color: #41403e81;
  color: #f5f5dc;
  text-decoration: underline;
}

div {
  align-items: center;
  justify-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;  
  width: 100%;
  margin: 0 auto;
}

input {
  width: max-content;
  align-self: center;
  margin-bottom: 6px;
}
